<!DOCTYPE html>
<html>
<head>
	<title>Forms</title>

	<!-- Inclusion des fichiers CSS -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="app.css" rel="stylesheet">

	<!-- Inclusion des fichiers JS -->
	<script src="../../bower_components/angular/angular.min.js"></script>
	<script src="../../bower_components/angular-messages/angular-messages.min.js"></script>
	<script src="app.js"></script>
	
	</script>
</head>
<body ng-app="app"  ng-controller="AppController as app">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Forms</h3>
	  </div>
	  <div class="panel-body">
	   	
	  	<form name="myForm" novalidate>
			<div
				class="form-group"
				ng-class="{'has-error': myForm.email.$invalid && !myForm.email.$pristine}">
				<label for="inputEmail">Email address</label>
				<input type="email" async-email name="email" ng-model="app.data.email" class="form-control" id="inputEmail" placeholder="Email" required>
				<span ng-show="myForm.$pending.email">Checking if this name is available...</span>
				<span ng-show="!myForm.email.$pristine && myForm.email.$valid && !myForm.$error.email">Cool :)</span>
    			<span ng-show="myForm.$error.email">This username is already taken!</span>
			</div>
			<div 
				class="form-group"
				ng-class="{'has-error': myForm.password.$invalid && !myForm.password.$pristine}">
				<label for="exampleInputPassword1">Password</label>
				<input type="inputPassword" name="password" ng-model="app.data.password" minlength="6" class="form-control" id="inputPassword" placeholder="Password" required pwd-validator>
				<span class="pwd" ng-class="{'pwdErr':myForm.password.$error.minlength}">min 6 caracters</span>
				<span class="pwd" ng-class="{'pwdErr':myForm.password.$error.oneNumber && !myForm.password.$pristine}">at least 1 number</span>
				<span class="pwd" ng-class="{'pwdErr':myForm.password.$error.oneUppercase && !myForm.password.$pristine}">at least one uppercase</span>
			</div>
			<div
				class="form-group"
				ng-class="{'has-error': myForm.firstname.$invalid && !myForm.firstname.$pristine}">
				<label for="inputFirstname">Firstname</label>
				<input type="text" name="firstname" ng-model="app.data.first_name" class="form-control" id="inputFirstname" placeholder="Firstname">
			</div>
			<div 
				class="form-group"
				ng-class="{'has-error': myForm.date.$invalid && !myForm.date.$pristine}">
				<label for="inputDate">Date</label>
				<input type="text" datepicker name="date" ng-model="app.data.date" class="form-control" id="inputDate" placeholder="Date">
			</div>
			<div 
				class="form-group"
				ng-class="{'has-error': myForm.price.$invalid && !myForm.price.$pristine}">
				<label for="inputPrice">Price</label>
				<input type="text" name="price" ng-model="app.data.price" min="5" max="10" class="form-control" id="inputPrice" placeholder="Price" price>
				<div ng-messages="myForm.price.$error" style="color:maroon" role="alert">
					<div ng-message="min">pas cher</div>
					<div ng-message="max">trop cher</div>
				</div>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="app.data.happy"> Happy ?
				</label>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>

	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Form object</h3>
	  </div>
	  <div class="panel-body">
	    

	  	<pre>
	  		{{myForm | json}}
	  	</pre>


	  </div>
	</div>

	

</body>
</html>